body
{
font-family: Helvetica, Arial, sans-serifs;
}

#date
{
color: white;
width: 180px;
margin-top: 20px;
margin-left: 10px;
}

#day_calendar
{

float: left;
display: none;
}

#day_calendar li
{
list-style: none;
height: 100px;
width: 400px;
border-top: 1px solid #DADADA;
line-height: 100px;
text-align: center;
}

	div.book_list
	{
	height: 100px;
	width: 350px;
	border-left: 1px solid #DADADA;
	display: block;
	float: right;
	}

		#block_test
		{
		position: relative;
		float: left;
		top: 10px;
		margin-left: 10px;
		display: block;
		height: 80px;
		width: 70px;
		background-color: maroon;
		cursor: pointer;
		}
		
		#block_test_2
		{
		position: relative;
		float: left;
		top: 10px;
            border-radius: 5px;
		margin-left: 10px;
		display: block;
		height: 80px;
		width: 70px;
		background-color: maroon;
		cursor: pointer;
		}

div.ui-datepicker{
 font-size:13px;
    width: 180px;
    margin-left: -20px;
}
		
/*-------------CalendarWeek--------------*/
#week_calendar
{
position: fixed;
left: 500px;
display: block;
width: 350px;
border: 5px solid #DADADA;
float: left;
padding-bottom: 10px;
}

	#week_calendar h2
	{
	margin-left: 10px;
	}
	
	#week_calendar li
	{
	position: relative;
	display: block;
	list-style: none;
	height: 40px;
	width: 40px;
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	color: white;
	background-color: maroon;
	}