@import "http://fonts.googleapis.com/css?family=Roboto";

* {
	font-family:'Roboto',sans-serif
}

a {
	text-decoration:none;
	color:#000
}

li {
	list-style-type: none;
}

body,html {
	width:100%;
	height:100%;
	margin:0;
	background-color:#EDEDED;
	padding:0;
	border:0
}
	
input {
	margin-bottom: 10px;
}

.header {
	position: fixed;
	top: 1px;
	width: 100%;
	height:90px;
	box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	border-bottom: 2px solid #B51845;
    margin-bottom: 40px;
	z-index: 2;
}

/*----Homepage----*/
#wrapper {
	top:20%;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1; /* The z-index should be higher than Google Maps */
}

#left {
	margin-left: auto;
	margin-right: auto;
	width:300px;
	height:auto;
	background-color:#fff;
	box-shadow:0 8px 17px 0 rgba(0,0,0,0.2);
	float:left
}

#logIn {
	position: relative;
	left: 10px;
}

#register {
	position: relative;
	left: 10px;
	display: none;
}

.orRegister, .orSign {
	text-decoration: underline;
}

#right {
	display: none;
}

#map-canvas {
	display: none;
}

/*----End-Homepage----*/

/*----Workout----*/

#choices {
	width: 90%;
	margin-left: 5%;
}

.c {
	float: left;
	border: 1px solid grey;
	margin-right: 10px;
	padding: 5px;
	background-color: white;
}

#chartHolder
{
	width:90%;
	margin-top: 20px;
	margin-left: 5%;
    white-space:nowrap; 
	display:inline-block;
}

#chartHolder1 {
	display:block;
}

#chartHolder2 {
	display:none;
}

#chartHolder3 {
	display:none;
}

/*----End-Workout----*/

#socialPicks {
	display: none;
}

#topLogo {
	display: none;
}

#logOutBox {
	position: relative;
	top: 5px;
	left: 10px;
	float: left;
	border: 1px solid #B51845;
	border-radius: 2px;
}

#logOutBox a {
	padding: 10px;
	color: #B51845;
	display: block;
}

#logOutBox a:hover {
	background-color: #B51845;
	color: white;
}

#leftProfile{
	display: none;
	overflow: scroll;
	position: fixed;
	top: 41px;
	width: 200px;
	height: 100%;
	border: 1px solid #B51845;
	text-align: center;
	background-color: white;
	z-index: 1;
}

#leftProfile li:first-child a:hover {
	background-color: transparent;
}

#leftProfile ul{
	position: relative;
	top: 80px;
	list-style-type: none;
	margin-left: -15px;
	width: 150px;
}

#leftProfile li {
	margin-left: none;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	height: 30px;
	margin-bottom: 10px;
	line-height: 30px;
}

#leftProfile ul li:first-child{
	border: none;
	width: 60px;
	height: 60px;
	position: relative;
	top: -70px;
}
	
#leftProfile ul li:nth-child(2){
	border: none;
	font-size: 1.5em;
	font-size: 50%;
}

#mobileButton{
	position: relative;
	top: 9px;
	left: -9px;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../../img/icons/menu2.png");
	background-color: grey;
	float: right;
	border: none;
}
	
#mobileButton:hover{cursor: pointer;}

#leftProfile li a:hover{
	background-color: #B51845;
	color: white;
}

#leftProfile li a{
	display: block;
}
	
#mobileMenu ul li:last-child{
	background-color: grey;
	color: white;
}
	
#mobileHeader{
	position: fixed;
	top: 1px;
	width: 100%;
	height: 50px;
	box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	border-bottom: 2px solid #B51845;
	z-index: 1;
}
	
#mobileLogo{
	display: block;
	position: relative;
	float: right;
}
	
#rightProfile{
	clear: both;
	position: relative;
	top: 70px;
	width: 100%;
}

.meetStaff{
    width: 100%;
    background-color: white;
    color: #B51845;
}
	
/* Trainers flip cards */
#trainers{
    margin-left: auto;
    height: 100%;
    list-style: none;
}


#trainers>li{
	width: 180px;
	padding: 10px;
    height: 300px;
    float: left;
    margin-left: 10%;
    margin-bottom: 40px;
}

.trainerImg {
	position: relative;
	top: 20px;
	left: 20px;
}

.fliped > .front
{
	position: absolute;
	width: 220px;
	height: 340px;
	border: 0px solid black;
  box-shadow:0 8px 17px 0 rgba(0,0,0,0.2);
		background-color:#d8e3eb;
		border-radius:5px;
	background-color: #d8e3eb;
	border-radius:5px;
    cursor: pointer;
	display:block;
}

.fliped > .back
{
	position: absolute;
	background-color: #d8e3eb;
	width: 220px;
	height: 340px;
	border: 0px solid black;
    box-shadow:0 8px 17px 0 rgba(0,0,0,0.2);
	background-color:#d8e3eb;
	border-radius:5px;
	border-radius: 5px;
	display:none;
}

.fliped:hover > .front
{
	/*display:none;*/
}

.fliped:hover > .back
{
	/*display:block;*/
}


.trainerInfo
{
	position: relative;
	top: 9px;
	left: 9px;
	border: 0px solid black;
	width: 190px;
	height: 310px;
	background-color: white;
	text-align:center;
	padding:5px;
}

.trainerInfo input {
	position: relative;
}

	/*     End cards / Trainers */

/*-------Settings----------*/

.settings {
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:auto;
	margin-bottom:40px;
	list-style:none
}

.settings>li {
	float:left;
	margin-right:10px
}

.settings>li>form {
	box-shadow:0 8px 17px 0 rgba(0,0,0,0.2);
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	border-bottom:2px solid #206276
}

.forms>input[type=submit] {
		width:190px;
		border:1px #5677fc solid;
		height:45px;
		background-color:#5677fc;
		color:#fff;
		cursor:pointer;
		border-radius:3px;
		font-size:1.1em;
	}

/*--------End-Settings-----*/
